<!DOCTYPE html>
<html lang="en">

<%- include("head") %>

<body>

    <%- include('navbar.ejs') %>

    <div class="container ">
        <h2>send a message</h2>

        <form action="/new" method="post">
            <label class="form-label" for="user">Author :</label>
            <input class="form-control" type="text" name="user" id="user">

            <label class="form-label" for="text">Message</label>
            <textarea class="form-control" name="text" id="text" cols="30" rows="5">
            </textarea>
            <button class="btn btn-primary btn-lg mt-3" type="submit">send</button>
        </form>
    </div>

</body>

</html>