<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand">Home</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a href="/new" class="">send a message</a>
        </ul>
    </div>
</nav>