<header class="p-3 bg-dark text-white mb-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 text-white">Home</a>
                </li>
                <% if (currentUser) { %>
                <li class="nav-link px-2 text-white">
                    Connected as <%= currentUser.username %>
                </li>
                <% } %>
            </ul>

            <div class="text-end">
                <% if (currentUser) { %>
                <a href="/logout" class="btn btn-outline-danger me-2">Logout</a>
                <a href="/sendmessage" class="btn btn-primary">Send a message</a>
                <% } else {  %>
                <a href="log-in" class="btn btn-outline-light me-2">Login</a>
                <a href="register" class="btn btn-primary">Register</a>
                <% } %>
            </div>
        </div>
    </div>
</header>